 body {
     font-family: 'Balsamiq Sans', cursive;
     margin: 0;
     padding: 0;
     background-image: url(' https://images.unsplash.com/photo-1605296867304-46d5465a13f1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDF8fHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=500&q=60');
  background-repeat: no-repeat;
 background-size: cover;
      
 }


 .left {
     display: inline-block;
     position: absolute;
     color: white;
     left: 30px;
     top: 20px;
     /* border: 2px solid red; */

 }

 .left img {
     /* height:120px; */
     width: 136px;
     /* filter:invert(100%); */
 }

 .left div {
     text-align: center;
     color: white;
     line-height: 19px;
     font-size: 20px;
 }

 .mid {

     display: block;
     width: 53%;
     margin: 29px auto;
     color: white;
     /* border: 2px solid white; */
 }

 .right {
     position: absolute;
     right: 34px;
     top: 43px;
     display: inline-block;
     color: white;
     /* border: 2px solid green; */
 }

 .navbar {
     display: inline-block;
 }

 .navbar li {

     display: inline-block;
     font-size: 20px;
 }

 .navbar li a {
     color: white;
     text-decoration: none;
     padding: 34px 23px;
 }

 .navbar li a:hover,
 .navbar li a.active {
     color: grey;
     text-decoration: underline;
 }

 .btn {
     margin: 0px 9px;
     background-color: black;
     color: white;
     padding: 4px 14px;
     border: 2px solid grey;
     border-radius: 10px;
     font-size: 20px;
     cursor: pointer;
     font-family: 'Balsamiq Sans', cursive;


 }

 .btn:hover {
     background-color: rgb(17, 14, 14);
 }

 .container {
     border: 2px solid white;
     margin: 2px 2px;
     padding: 2px 2px;
     width: 33%;
     border-radius: 28px;
 }

 .container {
     border: 2px solid white;
     margin: 106px 80px;
     padding: 75px;
     width: 33%;
     border-radius: 28px;
     color:white ;
 }
 .form-group input{
    font-family: 'Balsamiq Sans', cursive;
    text-align: center;
    display: block;
    width:508px;
    padding: 6px;
    border: 2px solid black;
    font-size: 12px;
    margin: 11px auto;
    border-radius: 8px;
    
 }
 .container h1{
    text-align: center;
 }
 .container button{
    display: block;
    width: 200px;
    margin: auto;

 }